h1{ color:darkslategray; size:200px;
    margin-top: 10px;}
    
    
    p{ color: darkslategray;}
    div{margin-left: 50px; margin-top: 30px;
    
    }
    
    .description-container{max-width: 800px;
    margin: 40px auto 20px}
    .description-container .floating-image{
        max-width: 400px;
    }
    .description-container .floating-image.right{
        float:right;
        margin-left: 100px;
        margin-bottom: 50px;
        
    }
    .description-container .floating-image.left{
        float:left;
        margin-right: 100px;
    margin-top: 100px;
    max-width: 400px;
    }
    
    .container{ margin-top: 50px;
        border: 2px gray;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    
    }
    
    .box{ height: 50px;
        ;
        margin-right: 50px;
    margin-top: 50px;}
    
    .container{ row-gap: 20px;
    border:2px  grey;}
    
    
    
        </style>